version: '3'

services:

  bot:
    build: bot
    env_file:
      - ./bot/.env
    environment:
      DEBUG: 1
      DEBUG_USER_EMAIL: y.ishikawa@churadata.okinawa
      SELENIUM_GRID_URL: http://selenium:4444/wd/hub
      DATABASE_URL: postgres://postgres@db/
    ports:
      - 8080:80
    volumes:
      - ./bot:/bot

  selenium:
    image: selenium/standalone-chrome
    volumes:
      - /dev/shm:/dev/shm

  cron:
    build: cron

  db:
    image: postgres:alpine
    ports:
      - 15432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres: